*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.lol
*.bbl
*.blg
*.bcf
*.run.xml
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.acn
*.acr
*.alg
/build/

# Archivos de sistema y temporales
[dD][eE][sS][kK][tT][oO][pP].[iI][nN][iI]
[tT][hH][uU][mM][bB][sS].[dD][bB]
*.[tT][mM][pP]
.trash/
